# rcov generated
coverage

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

# jeweler generated
pkg

# For MacOS
.DS_Store

# For TextMate, emacs, vim
*.tmproj
tmtags
*~
\#*
.\#*
*.swp

# not to lock gems version, and for bundler
Gemfile.lock
vendor
vendor/fluentd
